body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

header {
    background: url(../img/Tint.jpg) no-repeat center top / cover;
    padding-bottom: 160px;
}

.conteiner {
    width: 930px;
    margin: 0 auto;
}

.logo {
    margin-top: 41px;
    float: left;
}

nav {
    float: right;
    margin-top: 50px;
}

.menu {
    padding: 0;
    margin: 0;
    display: block;
}

.menu li {
    float: left;
    display: block;
    margin-right: 41px;
}
.menu a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.titles_first {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 180px;
}

h1 {
    font-size: 75px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 15px;
}

.button {
    background: #fed136;
    color: #484543;
    border-radius: 3px;
    display: block;
    width: 240px;
    padding: 20px 0;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-top: 50px;
}

.title {
    padding-top: 115px;
}

.title h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.title p {
    color: #777777;
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
}

#services {
    padding-bottom: 120px;
}

.services {
    margin-top: 50px;
}

.services_item {
    width: 270px;
    float: left;
    text-align: center;
}

.services_item h3 {
    font-size: 14px;
    margin-bottom: 5px;
}

.services_item p {
    color: #777777;
    font-size: 14px;
    line-height: 1.5em;
}

.services_item:last-child{
    float: right;
}

.services_item:nth-child(2) {
    margin-left: 60px;
}

#services {
    padding-bottom: 120px;
}

#portfolio {
    background: #f7f7f7;
    padding-bottom: 120px;
}

.works {
   margin-top: 70px;
}

.works img {
    float: left;
}

.works img:nth-child(2) {
    margin-left: 29px;
}

.works img:last-child {
    float: right;
}